body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Righteous', cursive;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
  text-align: center;
}

#centertitle {
  text-align: center;
}
#lefttitle {
  text-align: left;
}

.imgdec {
text-align: right;
}

#imgabout {
border-radius: 50%;
}