{% extends 'base.html' %}
{% block content %}
<div class="container text-center">
    <div class="row">
        <div class="col bg-light" >
            <img id="imgabout" src="https://i.imgur.com/r6XqTPY.jpg" />
          <h1> About</h1>
          <hr />
            <p>
            Greetings, my name is Ernest Maitland and I am a software developer. I am a former Accountant 
            that is passionate about solving health and lifestyle problems. I love to learn new techologies and creative ways of solving problems.
        </p>
        <a href="">Resume</a>
    </div>
</div>
{% endblock %}