{% extends 'base.html' %}
{% block content %}
<div class="container text-center">
    <div class="row">
        <div class="col bg-light" >
            <img id="imgabout" src="https://i.imgur.com/r6XqTPY.jpg" />
          <h1> About</h1>
          <hr />
            <p>
            Greetings, my name is Ernest Maitland and I am a software developer.I am a Christian Caribbean African American man dedicated to making a positive impact through health and lifestyle changes. In my previous career as an Accountant, I specialized in research, reconciliation, and detailed reviews. As a future Software Engineer, I want to develop tools that increase access to health and lifestyle services. I want to enhance these solutions by including data-driven methods to enhance impact.
        </p>
        <a href="https://drive.google.com/file/d/1GVkr5yPBZBqiE4SUs3SFaSyrgqqY-Q2A/view?usp=sharing" target="_blank" download>Resume</a>
    </div>
    <div class="row">
    <div class="container text-center mt-4 ">
            <div id="about">
                <ul>
                    <h2>Technical skills</h2>
                    <li><img src="https://i.imgur.com/UDVMcti.png" width="20" height="20"/> JavaScript</li>
                    <li><img src="https://i.imgur.com/eZUkaaM.png" width="20" height="20"/> Html</li>
                    <li><img src="https://i.imgur.com/majvJZx.png" width="20" height="20"/> CSS</li>
                    <li><img src="https://i.imgur.com/SzdUGwI.png" width="20" height="20"/> Python</li>
                    <li><img src="https://i.imgur.com/E4CRnNv.jpg" width="20" height="20"/>EJS</li>
                    <li><i class="fa fa-code" aria-hidden="true"></i> DTL</li>
                    <li><img src="https://i.imgur.com/hcqKW2j.png" width="20" height="20"/> SQL</li>
                    <li><img src="https://i.imgur.com/iMqcHRP.png" width="20" height="20"/> MongoDB</li>
                    <li><img src="https://i.imgur.com/131O5TQ.png" width="20" height="20"/> Mongoose</li>
                    <li><img src="https://i.imgur.com/xmBqlGE.png" width="20" height="20"/> PostgreSQL</li>
                    <li><img src="https://i.imgur.com/S26Dbqk.png" width="20" height="20"/> Github</li>
                </ul>
                    <ul>
                        <h2>Soft Skills</h2>
                        <li><i class="fas fa-bullhorn"></i> Communication</li>
                        <li><i class="fas fa-users"></i> Teamwork</li>
                        <li><i class="fas fa-wrench"></i> Problem-Solving</li>
                        <li><i class="fas fa-hourglass-start"></i> Time Management</li>
                        <li><i class="fab fa-critical-role"></i> Critical Thanking</li>
                        <li><i class="fas fa-headphones"></i> Active Listening</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}