{% extends 'base.html' %}
{% block content %}
<div class="container text-center">
    <div class="row">
        <div class="col bg-light" >
            <img id="imgabout" src="https://i.imgur.com/r6XqTPY.jpg" />
          <h1> About</h1>
          <hr />
            <p>
            Greetings, my name is Ernest Maitland and I am a software developer.I am a Christian Caribbean African American man dedicated to making a positive impact through health and lifestyle changes. In my previous career as an Accountant, I specialized in research, reconciliation, and detailed reviews. As a future Software Engineer, I want to develop tools that increase access to health and lifestyle services. I want to enhance these solutions by including data-driven methods to enhance impact.
        </p>
        <a href="https://drive.google.com/file/d/1GVkr5yPBZBqiE4SUs3SFaSyrgqqY-Q2A/view?usp=sharing" target="_blank" download>Resume</a>
    </div>
    <div class="row">
    <div class="container text-center mt-4 ">
        <div class="col">
            <div id="about">
                <ul>
                        <h2>Technical skills</h2>
                        <li>JavaScript</li>
                        <li>Html</li>
                        <li>CSS</li>
                        <li>Python</li>
                        <li>EJS</li>
                        <li>DTL</li>
                        <li>SQL</li>
                        <li>MongoDB</li>
                        <li>Mongoose</li>
                        <li>PostgreSQL</li>
                        <li>Github</li>
                        <li>Git</li>
                    </ul>
                    <div class="col">
                        <ul>
                            <h2>Soft Skills</h2>
                            <li>Communication</li>
                            <li>Teamwork</li>
                            <li>Problem-Solving</li>
                            <li>Time Management</li>
                            <li>Critical Thanking</li>
                            <li>Active Listening</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}