{% extends 'base.html' %}
{% block content %}
<h1 id="centertitle">Welcome to my Portfolio Website </h1>
<div class="container py-4">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5 row">
            <div class="col">
                <h1 class="display-5 fw-bold">Hello World</h1>
                <blockquote>My Ernest Maitland and I am a developer
                </blockquote>
                  </div>
                <div class="col">
                    <img src="https://i.imgur.com/oktNeoN.png" class="imgdec" />
                </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="card py-2" style="width: 18rem;">
            <img src="https://i.imgur.com/ENMjq40.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Shoplist</h5>
                <p class="card-text">ShopList is a basic shopping list app that helps you organize your shopping lists that are used on a regular basis.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">JavaScript</li>
                    <li class="list-group-item">CSS </li>
                    <li class="list-group-item">HTML</li>
                </ul>
                <div class="card-body">
                    <a href="https://shoplist-621.herokuapp.com/" class="card-link">Deployed Link</a>
                    <a href="https://github.com/loex345/shoplist" class="card-link">Git Repository</a>
                </div>
            </div>
            <div class="card py-5" style="width: 18rem;">
                <img src="https://i.imgur.com/UhTbSxG.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Recipe App</h5>
                    <p class="card-text">Do you enjoy cooking but never know what to cook? You've come to the right place!
                        With Simply Recipes you will be able to create new recipes and view submissions by other users all in one place!</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Python </li>
                        <li class="list-group-item">HTML</li>
                        <li class="list-group-item">CSS</li>
                    </ul>
                    <div class="card-body">
                        <a href="https://simply-recipes-621.herokuapp.com/" class="card-link">Deployed Link</a>
                        <a href="https://github.com/loex345/recipeapp" class="card-link">Git Repository</a>
                    </div>
                </div>
                <div class="card py-5" style="width: 18rem;">
                    <img src="https://i.imgur.com/j07Hpdg.jpg" class="card-img-top" alt="...">
                    <br />
                    <br />
                    <div class="card-body">
                        <h5 class="card-title">Exercise-Diary</h5>
                        <p class="card-text">Exercise Diary is a basic exercise journaling app that is created to record exercises and food intake. Goal of the app is to create accountability and provide a place for users to comment on exercises completed.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">JavaScript</li>
                            <li class="list-group-item">EJS</li>
                            <li class="list-group-item">CSS</li>
                        </ul>
                        <div class="card-body">
                            <a href="https://exercise-diary-01.herokuapp.com/" class="card-link">Deployed Link</a>
                            <a href="https://github.com/loex345/Exercise-Diary" class="card-link">Git Repository</a>
                        </div>
                    </div>
                <div class="card py-5" style="width: 18rem;">
                    <img src="https://i.imgur.com/DgTlWTC.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Concentration</h5>
                        <p class="card-text">Welcome to Concentration! This game is fun and relies on memory. It is also known as Memory or Shinkei-suijaku (nervous breakdown) in Japanese. The purpose of the game is to match two cards that are face up.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">JavaScript</li>
                            <li class="list-group-item">HTML</li>
                            <li class="list-group-item">CSS</li>
                        </ul>
                        <div class="card-body">
                            <a href="https://loex345.github.io/Concentration/" class="card-link">Deployed Link</a>
                            <a href="https://github.com/loex345/Concentration" class="card-link">Git Repository</a>
                        </div>
                    </div>
                </div>
            </div>                
         <hr />
{% endblock %}