{% extends 'base.html' %}
{% block content %}
<h1 id="centertitle">Welcome to my Portfolio Website </h1>
<div class="container py-4">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5 row">
            <div class="col">
                <h1 class="display-5 fw-bold mt-5">Hello World</h1>
                <span class="d-flex d-row">
                    <blockquote>My name is Ernest Maitland and I am a developer. Welcome to my Portfolio! May you be blessed!
                    </blockquote>
                </span>
                  </div>
                <div class="col">
                    <img src="https://i.imgur.com/oktNeoN.png" class="imgdec" />
                </div>
        </div>
    </div>
    <h2 id="centerleft">Projects</h2>
    <hr />
    <div class="d-grid align-items-start flex-column gap-3">
        <div class="container">
            <div class="row">
                <div class="card py-5" style="width: 18rem;">
                    <img src="https://i.imgur.com/UREM1YJ.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Shoplist</h5>
                        <p class="card-text">ShopList is a basic shopping list app that helps you organize your shopping lists that are used on a regular basis.</p>
                    </div>
                    <br />
                    <br />
                    <br />
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><img src="https://i.imgur.com/UDVMcti.png" width="50" height="50"/> JavaScript</li>
                        <li class="list-group-item"><img src="https://i.imgur.com/majvJZx.png" width="50" height="50"> CSS </li>
                        <li class="list-group-item"><img src="https://i.imgur.com/eZUkaaM.png" width="50" height="50"> HTML</li>
                    </ul>
                    <div class="row">
                        <div class="card-body">
                            <a href="https://shoplist-621.herokuapp.com/" class="card-link" target="_blank">Deployed Link</a>
                            <a href="https://github.com/loex345/shoplist" class="card-link" target="_blank">Git Repository</a>
                        </div>
                    </div>
                </div>
                <div class="card py-5" style="width: 18rem;">
                    <img src="https://i.imgur.com/IXtApi9.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Recipe App</h5>
                        <p class="card-text">Do you enjoy cooking but never know what to cook? You've come to the right place!
                            With Simply Recipes you will be able to create new recipes and view submissions by other users all in one place!</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><img src="https://i.imgur.com/SzdUGwI.png" width="50" height="50"> Python</li>
                            <li class="list-group-item"><img src="https://i.imgur.com/eZUkaaM.png" width="50" height="50"> HTML</li>
                            <li class="list-group-item"><img src="https://i.imgur.com/majvJZx.png" width="50" height="50"> CSS</li>
                        </ul>
                        <div class="row">
                            <div class="card-body">
                                <a href="https://simply-recipes-621.herokuapp.com/" class="card-link" target="_blank">Deployed Link</a>
                                <a href="https://github.com/loex345/recipeapp" class="card-link" target="_blank">Git Repository</a>
                            </div>
                        </div>
                    </div>
                    <div class="card py-5" style="width: 18rem;">
                        <img src="https://i.imgur.com/YdkJe1j.jpg" class="card-img-top" alt="...">

                        <div class="card-body">
                            <h5 class="card-title">Exercise-Diary</h5>
                            <p class="card-text">Exercise Diary is a basic exercise journaling app that is created to record exercises and food intake. Goal of the app is to create accountability and provide a place for users to comment on exercises completed.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><img src="https://i.imgur.com/UDVMcti.png" width="50" height="50"/> JavaScript</li>
                            <li class="list-group-item"><img src="https://i.imgur.com/E4CRnNv.jpg" width="50" height="50"/> EJS</li>
                            <li class="list-group-item"><img src="https://i.imgur.com/majvJZx.png" width="50" height="50"> CSS</li>
                        </ul>
                        <div class="row">
                            <div class="card-body">
                                <a href="https://exercise-diary-01.herokuapp.com/" class="card-link" target="_blank">Deployed Link</a>
                                <a href="https://github.com/loex345/Exercise-Diary" class="card-link" target="_blank">Git Repository</a>
                            </div>
                        </div>
                    </div>
                    <div class="card py-5" style="width: 18rem;">
                        <img src="https://i.imgur.com/LgbADYa.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Concentration</h5>
                            <p class="card-text">Welcome to Concentration! This game is fun and relies on memory. It is also known as Memory or Shinkei-suijaku (nervous breakdown) in Japanese. The purpose of the game is to match two cards that are face up.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><img src="https://i.imgur.com/UDVMcti.png" width="50" height="50"> JavaScript</li>
                            <li class="list-group-item"><img src="https://i.imgur.com/eZUkaaM.png" width="50" height="50"> HTML</li>
                            <li class="list-group-item"><img src="https://i.imgur.com/majvJZx.png" width="50" height="50"> CSS</li>
                        </ul>
                        <div class="row">
                            <div class="card-body">
                                <a href="https://loex345.github.io/Concentration/" class="card-link" target="_blank">Deployed Link</a>
                                <a href="https://github.com/loex345/Concentration" class="card-link" target="_blank">Git Repository</a>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
        <hr />
    {% endblock %}